[submodule "smartsudoku-server"]
	path = smartsudoku-server
[submodule "smartsudoku-server"]
	url = https://FlorentinDUBOIS@github.com/FlorentinDUBOIS/smartsudoku-server.git
[submodule "portfolio"]
	path = portfolio
[submodule "portfolio"]
	url = https://FlorentinDUBOIS@github.com/FlorentinDUBOIS/portfolio.git
[submodule "h1z1-store"]
	path = h1z1-store
[submodule "h1z1-store"]
	url = https://FlorentinDUBOIS:aa482c9c99d28bf66c345ab1d8763ca61ceed558@github.com/FlorentinDUBOIS/h1z1-store.git
