cloud.vincentriouallon.com, www.cloud.vincentriouallon.com{
    tls server@vincentriouallon.com
    proxy / owncloud {
        websocket
        max_fails 0
    }

    gzip
}

www.torrent.vincentriouallon.com , torrent.vincentriouallon.com {
    tls server@vincentriouallon.com
    proxy / deluge:8112{
        max_fails 0
    }
    
    gzip
}

www.tvshow.vincentriouallon.com, tvshow.vincentriouallon.com {
    tls server@vincentriouallon.com
    proxy / sickrage:8081{
        max_fails 0
    }

    gzip
}

www.movie.vincentriouallon.com, movie.vincentriouallon.com {
    tls server@vincentriouallon.com
    proxy / couchpotato:5050{
        max_fails 0
    }

    gzip
}

www.files.vincentriouallon.com, files.vincentriouallon.com {
    tls server@vincentriouallon.com
    proxy / kraken{
        max_fails 0
    }

    gzip
}
