florentin-dubois.fr, www.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / portfolio
    gzip
}

owncloud.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / owncloud
    gzip
}

deluge.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / deluge:8112
    gzip
}

sickrage.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / sickrage:8081
    gzip
}

couchpotato.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / couchpotato:5050
    gzip
}

rainloop.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / rainloop
    gzip
}

store.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / store
    gzip
}

data.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / phpmyadmin
    gzip
}

steambot.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / steambot
    gzip
}

