florentin-dubois.fr:80 {
    proxy / portfolio
    gzip
}

florentin-dubois.fr:443 {
    tls off

    proxy / portfolio
    gzip
}


www.florentin-dubois.fr:80 {
    proxy / portfolio
    gzip
}

www.florentin-dubois.fr:443 {
    tls off

    proxy / portfolio
    gzip
}

owncloud.florentin-dubois.fr:443 {
    tls off

    proxy / owncloud {
        websocket
    }

    gzip
}

sickrage.florentin-dubois.fr:443 {
    tls off

    proxy / sickrage:8081 {
        websocket
    }

    gzip
}

couchpotato.florentin-dubois.fr:443 {
    tls off

    proxy / couchpotato:5050 {
        websocket
    }

    gzip
}

deluge.florentin-dubois.fr:443 {
    tls off

    proxy / deluge:8112 {
        websocket
    }

    gzip
}

files.florentin-dubois.fr:443 {
    tls off

    proxy / h5ai:80 {
        websocket
    }

    gzip
}

rainloop.florentin-dubois.fr:443 {
    tls off

    proxy / rainloop {
        websocket
    }

    gzip
}
