florentin-dubois.fr, www.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / portfolio
    gzip
}

owncloud.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / owncloud {
        websocket
    }

    gzip
}

sickrage.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / sickrage:8081 {
        websocket
    }

    gzip
}

couchpotato.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / couchpotato:5050 {
        websocket
    }

    gzip
}

rainloop.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / rainloop {
        websocket
    }

    gzip
}

store.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / store {
        websocket
    }

    gzip
}

data.florentin-dubois.fr {
    tls server@florentin-dubois.fr
    proxy / phpmyadmin:80 {
        websocket
    }

    gzip
}

bot.florentin-dubois.fr {
    tls server@florentin-dubois.fr

    proxy / steambot:80 {
        websocket
    }

    gzip
}

