cloud.vincentriouallon.com, www.cloud.vincentriouallon.com {
    tls server@vincentriouallon.com
    proxy / nextcloud {
        websocket
   	transparent
    }

    gzip
}

www.torrent.vincentriouallon.com , torrent.vincentriouallon.com {
    tls server@vincentriouallon.com
    proxy / deluge:8112

    gzip
}


www.jackett.vincentriouallon.com, jackett.vincentriouallon.com {
    tls server@vincentriouallon.com
    proxy / jackett:9117 {
   	transparent
    }

    gzip
}

www.tvshow.vincentriouallon.com, tvshow.vincentriouallon.com {
    tls server@vincentriouallon.com
    proxy / sonarr:8989

    gzip
}

www.movie.vincentriouallon.com, movie.vincentriouallon.com {
    tls server@vincentriouallon.com
    proxy / radarr:7878

    gzip
}

www.files.vincentriouallon.com, files.vincentriouallon.com {
    tls server@vincentriouallon.com
    proxy / filebrowser

    gzip
}

www.stream.vincentriouallon.com, stream.vincentriouallon.com {
    tls server@vincentriouallon.com
    proxy / emby:8096 {
        websocket
    }

    gzip
}

www.plex.vincentriouallon.com, plex.vincentriouallon.com {
    tls server@vincentriouallon.com
    proxy / plex:32400 {
    	transparent
        websocket
	}

    gzip
}

www.portainer.vincentriouallon.com, portainer.vincentriouallon.com {
  tls server@vincentriouallon.com
  proxy / portainer:9000 {
    transparent
    websocket
  }
}

www.jupyter.vincentriouallon.com, jupyter.vincentriouallon.com {
  tls server@vincentriouallon.com
  proxy / jupyter:8888
}

www.vincentriouallon.com, vincentriouallon.com {
  tls server@vincentriouallon.com
  root /var/www/html/portfolio
  rewrite {
    if {path} is /cv
    if {path} is /CV
    if_op  or
    to /CV-RiouallonVincent.pdf
  }
  rewrite {
    # Check for a file, then a folder
    # If neither exists, we would usually issue a 404
    # Instead, here we rewrite to /linkedin
    to {path} {path}/ /linkedin
  }
}

